#===============================================================
#
# GLOBAL GIT IGNORE
# ~/.gitignore
#
#===============================================================

# ----------------------------
# --------- FOLDERS ----------
# ----------------------------

[Pp]rivate/
[Dd]ownloads/
[Ll]ogs/
[Ll]og/
[Tt]emp/
[Aa]rchive/
history.txt
