#!/bin/sh

# | Ensure Bin scripts are available within the dev shell
# TODO This is temporary until the pathsToLink start working
PATH_add Bin

# | Reload direnv on change
watch_dir Configuration/apps/nixos
watch_dir Bin

# | Initialize the flake
use flake . --impure
