#===============================================================
#
# GLOBAL GIT IGNORE
# ~/.gitignore
#
#===============================================================

# ----------------------------
# --------- FOLDERS ----------
# ----------------------------

# Archives & Temporary Folders
[Aa]rchive/
[Dd]ownloads/
[Tt]emp/
[Tt]est/

# Logs
[Ll]ogs/
[Ll]og/

# Private folders
[Pp]rivate/
[Ss]ecrets/
[Kk]eys/
**/*.env
