#!/bin/sh

# | Ensure Bin scripts are available within the dev shell
# TODO This is temporary until the pathsToLink start working
PATH_add scripts
PATH_add bin

# | Reload direnv on change
# watch_dir etc
# watch_dir core
# watch_dir home

# | Initialize the flake
use flake . --impure
